.container {
    display: grid;
    margin: auto;
    width: 70vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo {
    grid-column: 1;
}

.goodBoy{
    margin-top: 40px;
    width: 200px;
    height: 54px;
}

.infoContainer {
    grid-column: 2;
}

.infoContainer2 {
    grid-column: 3;
}

.infoContainer3 {
    grid-column: 4;
}

.line {
    width: 80%;   
    background-color: rgba(47, 47, 47, 0.16);  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;   
}