%footerParagraph {
    font-family: 'Hind';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

%rectangleParagraph {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

%labelParagraph {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #2F2F2F;
    line-height: 19px;
}

.links {
    @extend %labelParagraph;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #9F9F9F;
    display : inline-block;
    grid-column: 2;
    margin-top: 2px;
}

.footerAbout{
    @extend %footerParagraph;
    line-height: 200%;
    color: #585757;
    max-width: 70px;
    opacity: 0.6;
}

.footerNote {
    @extend %footerParagraph;
    color: #585757;
    max-width: 150px;
    opacity: 0.6;
}

.footerTitle{
    @extend %footerParagraph;
    font-weight: 800;
}

.footerLogo{
    @extend %footerParagraph;
    font-weight: 800;
    font-size: 36px;
    display: inline-block;
}

.rectangleLeftInactive {
    @extend %rectangleParagraph;
    color: #585757;
}

.rectangleRightInactive {
    @extend %rectangleParagraph;
    color: #585757;
}

.rectangleLeftActive {
    @extend %rectangleParagraph;
    color: #FFFFFF;
}

.rectangleRightActive {
    @extend %rectangleParagraph;
    color: #FFFFFF;
}

.paragraphContainer {
    overflow: hidden;
}

.checkBox {
    @extend %rectangleParagraph;
    font-weight: normal;
    color: #2F2F2F;
    opacity: 0.8;
    display: inline-block;
}

.labelRight {
    @extend %labelParagraph;
    font-size: 14px;
    float: right;
    margin-right: 3em;
    opacity: 0.8;
}

.labelLeft {
    @extend %labelParagraph;
    float: left;
}

.labelMain {
    @extend %labelParagraph;
    width: 100%;
}

.labelForm {
    @extend %labelParagraph;
    font-size: 14px;
    line-height: 10px;
    width: 100%;
}

.labelData {
    @extend %labelParagraph;
    font-weight: normal;
    line-height: 10px;
    width: 100%;
}