.footerAbout{
    font-family: 'Hind';
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #585757;
    max-width: 70px;
    opacity: 0.6;
}

.footerNote {
    font-family: 'Hind';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #585757;
    max-width: 150px;
    opacity: 0.6;
}

.footerTitle{
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
    font-family: 'Hind';
}

.footerLogo{
    font-weight: 800;
    font-size: 36px;
    display: inline-block;
    line-height: 130%;
    font-family: 'Hind';
}

.rectangleLeft {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #585757;
}

.rectangleRight {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.paragraphContainer {
    overflow: hidden;
}

.labelRight {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #2F2F2F;
    float: right;
    margin-right: 3em;
    opacity: 0.8;
}

.labelLeft {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
    float: left;
}

.labelMain {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
    width: 100%;
}

.labelForm {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 10px;
    color: #2F2F2F;
    width: 100%;
}

.labelData {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    color: #2F2F2F;
    width: 100%;
}

.checkBox {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #2F2F2F;
    opacity: 0.8;
    display: inline-block;
}