%mainStyle {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-weight: 800;
}

// .optionsLabel {
//     @extend %mainStyle;
//     font-weight: normal;
//     color: #9F9F9F;
//     top: 50px;
//     left: 20px;
//     position: absolute;
//     pointer-events: none;
// }

.labelDiv { 
    @extend %mainStyle;
    font-weight: normal;
    color: #9F9F9F;
    top: 50px;
    left: 20px;
    position: absolute;
    pointer-events: none;
}

.labelGrid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.optionsLabel {
    pointer-events: none;
    grid-template-columns: 2;
    margin-top: 4px;
}

.imgLabel {
    pointer-events: none;
    grid-template-columns: 1;
}

.typeLabel {
    @extend %mainStyle;
    color: #2F2F2F;
    position: absolute;
    top: 30px;
    left: 20px;
    pointer-events: none;
}

.topLabel {
    @extend %mainStyle;
    font-size: 14px;
    line-height: 19px;
    color: #2F2F2F;
}

.inputStyle {
    @extend %mainStyle;
    margin-right: 5em;
    width: 93%;
    height: 74px;

    outline: 0;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;

    margin-top: 1em;
}


.inputStyle:focus {
    border: 1px solid #CD8B65;
}

.inputContainer {
    position: relative;
}
