%mainStyle {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
}

.selectUtulok {
    @extend %mainStyle;
    margin-right: 5em;
    width: 93%;
    height: 74px;
}

option {
    @extend %mainStyle;
    margin-left: 1em;
}

.optionsLabel {
    @extend %mainStyle;
    font-weight: normal;
    color: #9F9F9F;
    top: 90px;
    left: 20px;
    position: absolute;
}

.typeLabel {
    @extend %mainStyle;
    color: #2F2F2F;
    position: absolute;
    top: 70px;
    left: 20px;
}

.selectContainer {
    position: relative;
}