%mainStyle {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
}

.selectShelter {
    @extend %mainStyle;
    margin-right: 5em;
    width: 93%;
    height: 74px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #DFDFDF;
    outline: 0;
}

.selectShelter:focus{
    border: 1px solid #CD8B65;
}

option {
    @extend %mainStyle;
    margin-left: 1em;
}

.optionsLabel {
    @extend %mainStyle;
    font-weight: normal;
    color: #9F9F9F;
    top: 90px;
    left: 20px;
    position: absolute;
    pointer-events: none;
}

.typeLabel {
    @extend %mainStyle;
    color: #2F2F2F;
    position: absolute;
    top: 70px;
    left: 20px;
    pointer-events: none;
}

.selectContainer {
    position: relative;
}