.container {
    margin: auto;
    width: 50vw;
    height: 90vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.rectangleContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.imageContainer {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.inputUtulok {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

.inputSumaContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
}

.buttonWrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}

.line {
    width: 80%;  
    height: 1px;  
    background-color: rgba(47, 47, 47, 0.16);;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;   
}