.container {
    margin: auto;
    height: 80vh;

    display: grid;

    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 0.5fr 1fr 1.5fr 1fr 1fr 1fr;
    //1 MiniHeader | 2 Header | 3 Rectangles | 4 Select | 5 Inputs | 6 Button
}

.header {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.rectangleContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
}

.imageContainer {
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: 6;
}

.inputUtulok {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 4;
}

.inputSumaContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 5;
}

.buttonWrapper {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 6;
}

%inputAmount {
    display: inline-block;

    max-width: 90px;
    height: 53px;

    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    margin-left: 0.2em;
    margin-right: 0.5em;
    border-radius: 8px;
}

.inputAmountInactive {
    @extend %inputAmount;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    color : solid black;
}

.inputAmountActive {
    @extend %inputAmount;

    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    border: 1px solid #CD8B65;
    color: #FFFFFF;
}

%inputCustomSum {
    display: inline-block;

    width: 53px;
    height: 33px;

    border: 0;
    //border-bottom: 1px solid #C9C9C9;
    outline: 0;
    margin-top: 8px;
    margin-left: 10px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.inputCustomSumActive {
    @extend %inputCustomSum;
    border-bottom: 1px solid #FFFFFF;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%); 
    color: #FFFFFF;
}

.inputCustomSumInactive {
    @extend %inputCustomSum;
    border-bottom: 1px solid #C9C9C9;
}

%inputEuroSign {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    display: inline-block;
    margin-top : 8px;
}

.inputEuroSignActive {
    @extend %inputEuroSign;
    color : #FFFFFF;
}

.inputEuroSignInactive {
    @extend %inputEuroSign;
    color : solid black
}

%inputCustomSumDiv {
    display: inline-block;

    width: 86px;
    height: 53px;
    
    // background: #FFFFFF;
    // border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 0.2em;
    margin-right: 0.5em;
}

.inputCustomSumDivActive {
    @extend %inputCustomSumDiv;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%); 
}

.inputCustomDivInactive {
    @extend %inputCustomSumDiv;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
}

