@import "../index.scss";

.header {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.inputsContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}