@import "../index.scss";

.header {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    max-width: 80%;
}

.paragraphContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.paragraphGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.paragraphForm {
    grid-row: 1;
}

.paragraphUtulok {
    grid-row: 2;
}

.paragraphSuma {
    grid-row: 3;
}

.paragraphName {
    grid-row: 4;
}

.paragraphEmail {
    grid-row: 5;
}

.paragrapgPhone {
    grid-row: 6;
}

.checkboxContainer {
    grid-row: 7;
}