.container {
    margin: auto;
    width: 50vw;
    height: 90vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.rectangleContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.imageContainer {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.inputUtulok {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

.inputSumaContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
}

.buttonWrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}

.line {
    width: 80%;  
    height: 1px;  
    background-color: rgba(47, 47, 47, 0.16);;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;   
}

.inputAmount {
    display: inline-block;

    max-width: 90px;
    height: 53px;

    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    margin-left: 0.2em;
    margin-right: 0.5em;
}

.inputAmountActive {
    display: inline-block;

    max-width: 90px;
    height: 53px;

    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    border-radius: 8px;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    margin-left: 0.2em;
    margin-right: 0.5em;
}