@import "../index.scss";

.header {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.rectangleContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 4;
}

.inputUtulok {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 5;
}

.inputSumaContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 6;
}

.buttonWrapper {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 7;
}