.container {
    margin: auto;
    width: 50vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 150px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.rectangleContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.imageContainer {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.inputUtulok {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

.inputSuma {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 6
}

.buttonWrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}
