.rectangleConcrete {    
    display: inline-block;
    width: 278px;
    height: 186px;

    background: #FAF9F9;
    border: 1px solid #CD8B65;
    box-sizing: border-box;
    border-radius: 24px 0px 0px 24px;
}

.paragraph {
    margin-left: 1.5em;
}

.walletLogo {
    margin-top: 1.5em;
    margin-left: 1.5em;
    width: 80px;
    height: 80px;
}